<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <title>DashBoard | Register</title>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <% if(userFirstTime){ %>
    <h1>Form show hoga</h1>

    <%} else {%>
    <h1>Registration Form</h1>
    <form action="/dashboard" method="POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%=username%>"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%=userEmail%>"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="misNo">MIS No:</label>
        <input
          type="text"
          id="misNo"
          name="misNo"
          value="<%=userEmail.slice(0,9)%>"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="semester">Semester:</label>
        <input
          type="number"
          id="semester"
          name="semester"
          min="1"
          max="8"
          required
        />
      </div>
      <div class="form-group">
        <label for="currentYear">Current Year:</label>
        <input
          type="number"
          id="currentYear"
          name="currentYear"
          min="1"
          max="4"
          required
        />
      </div>

      <div class="form-group">
        <label for="academicFee">Mess Fee Reference Number:</label>
        <input type="text" id="academicFee" name="messFee" required />
      </div>
      <button type="submit">Submit</button>
    </form>
    <%}%>
    <%-include('partials/footer')%>
  </body>
</html>
