<%-include('partials/header')%>
<link rel="stylesheet" href="/css/student_dashboard.css">
    <title>Dashboard</title>
    <script>
     window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
  </script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <%-include('partials/flash_login_message')%>
    <p class="heading"><%=name%> Dashboard</p>
   
    <div id="student_id">  <div class="option">    <a href="/student/register"><h2>Register for this semester</h2></a>
      <a href="/student/status"><h2>Show Registration Status</h2></a>
  
      <a href="/student/profile"><h2>User Profile</h2></a>
  
      <a href="/student/how_to_register">
        
          <h2>Registration Guide</h2>
       </a
      ></div></div>
    <%-include('partials/footer')%>
  </body>
</html>
