<%-include('partials/header')%>
<link rel="stylesheet" href="/css/v1.css" />
    <title>v1</title>
    <script>
      window.onpageshow = function(event) {
              if (event.persisted) {
                  window.location.reload();
              }
          };
    </script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <h1>Pending Student Verification List</h1>
    <ol>
      
      <% for( let x of data ) { %> <%if(!x.verification1 &&
      x.verification1Status===process.env.STATUS) { %>
      <li><a href="/v1/<%=x.googleId%>"><%=x.username%></a></li>
      <%}%> <% } %>
    </ol>
    <%-include('partials/footer')%>
  </body>
</html>
