<%-include('partials/header')%>
    <title>V1 | Statistics</title>
    <link rel="stylesheet" href="/css/v1_stat.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <div class="heading">Verification 1 Statistics</div>
    <div class = 'dchart' style="margin: auto">
      <canvas id="doughnutChart"></canvas>
    </div>
    <script>
      let data = {
        labels: <%- JSON.stringify(labels) %>,
        datasets: [
          {
            data: <%- JSON.stringify(values) %>,
            backgroundColor: <%- JSON.stringify(colors) %>,
          },
        ],
      };

      let options = {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: "Comprehensive Statistics for V1 Registrations",
        },
      };


      let ctx = document.getElementById("doughnutChart").getContext("2d");


      let doughnutChart = new Chart(ctx, {
        type: "doughnut",
        data: data,
        options: options,
      });
    </script>
     <%-include('partials/footer')%>
  </body>
</html>
