<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/v1.css" />
    <title>v3</title>
    <script>
      window.onpageshow = function(event) {
              if (event.persisted) {
                  window.location.reload();
              }
          };
    </script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <h1>Pending Student V3 verification list</h1>
    <ol>
      <% for( let x of data ) { %> <%if(!x.verification3 &&
      x.verification3Status===process.env.STATUS && x.verification1===true &&
      x.verification2===true) { %>
      <li><a href="/v3/<%=x.googleId%>"><%=x.username%></a></li>
      <%}%> <% } %>
    </ol>
    <%-include('partials/footer')%>
  </body>
</html>
