<%-include('partials/header')%>
    <link rel="stylesheet" href="/css/v1_student_fail.css" />
    <title>Verification 3 Failed</title>
    <script>
      window.onpageshow = function(event) {
              if (event.persisted) {
                  window.location.reload();
              }
          };
    </script>
  </head>
  <body>
    <%-include('partials/navbar')%>
    <%-include('partials/flash_login_message')%>
    <div class="sub_class" id="sub_class3"> <div class="success">
      <h1>Verification 1 has passed</h1>
      <h1>Verification 2 has passed</h1>
    </div>
    <div class="fail">
      <h1>Verification 3 has failed</h1>
    </div>
    <div class="reason">
      <h2>Reason</h2>
      <h2><em><%= v3_status %></em></h2>
    </div>
    <div class="restart">
      <h3>Do you want to fill the form again and restart the process?</h3>
    </div>

    <form action="/dashboard/fail" method="post">
      <button name="ans" value="yes">Yes</button>
      <button name="ans" value="no">No</button>
    </form></div>
   
    <%-include('partials/footer')%>
  </body>
</html>
